---
import "~/styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Memopi | Memorize the PI number</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
